* {
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #e7090d;
  color: #fafff9;
}

.about {
  background-color: #1d232f;
  color: #fafff9;
}
.experience {
  background-color: #fafff9;
  color: #1d232f;
}
.education {
  background-color: #1d232f;
  color: #fafff9;
}
.contact {
  background-color: #fafff9;
  color: #1d232f;
}
